.bottom-footer-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-flex{
    display: flex;
    flex-direction: column;
    
}
.footer-icons{
    width: 111px;
    display: flex;
    justify-content: space-between;
}


.footer-text-center{
    text-align: center;
    font-weight: 300;
    font-size:30px;

}

.footer-purple-text{
    color:#A62F9A;
}
