.mainpicture-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: calc(100vh - 408px);
    flex-shrink: 0;
    border-radius: 8px;
    text-align: center;
    color: white;
    gap: 16px;

}


.mainpicture-desktopimage {

    /* position: relative; */
    height: 100%;
    /* width: 100%; */
    /* height: 50px; */

}
.mainpicture-desktop1{
    width:50%;
    object-fit: cover;
}
.mainpicture-desktop2{
    width:50%;
    object-fit: cover;
}

.mainpicture-mobile1 {
    display: none;
}

.mainpicture-mobile2 {
    display: none;
}



@media only screen and (max-width: 400px) {
    .mainpicture-container {
        /* height: auto; */
        height: calc(100vh - 265px);
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .mainpicture-desktopimage {
        display: none;
    }

    .mainpicture-mobile1 {
        display:flex;
        width: 100%; 
        height: 50%;
        /* height: 280px; */
        flex-shrink: 0;
        border-radius: 8px;
        /* margin-bottom: 16px; */
        object-fit: cover;
    }

    .mainpicture-mobile2 {
        display: flex;
        width: 100%;
        /* height: 280px; */
        height: 50%;
        flex-shrink: 0;
        border-radius: 8px;
        object-fit: cover;
    }

    .mainpicture-desktop1{
        display:none;
    }
    .mainpicture-desktop2{
        display:none;
    }
    
}