#nav-bar {
    height: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons {
    display: flex;
    align-items: center;
    gap: 16px;
}

.icon-cart {
    width: 24px;
    height: 24px;
}

.icon {
    width: 18px;
    height: 18px;
}

.product-text-suggestion {
    font-size: 25px;
    font-weight: 700;
}
.icon-menu{
    display: none;
}

@media only screen and (max-width: 400px) {

#nav-bar{
    margin-left: 24px;
    margin-right: 24px;
}

.icon-cart{
    display: none;
}
.icon{
    display: none;
}

.icon-menu {
    display: flex;
    width: 24px;
    height: 24px;
}
}